// START Redefining Bulma Color Variables
$grey-light: black;

// END Redefining Bulma Color Variables

@import "bulma";

$Background: #bcd2d0;
$FootHead:   #f96161;
$NavEl:   	 #6fcb9f;

.container {
  width: 750px;
  margin: 25px auto;
};

html{
  background-color: $Background;
}

// =======================
// BEGIN LAYOUT FORMATTING
.nav-left{
  background-color: $FootHead;
}
.nav-right{
  background-color: $FootHead;
}

.wrapper {
  margin: 50px 0;
};
    nav a{
      margin: 5px;
};

.pad-left{
  padding-left: 14px;
}
footer{
  margin-top: 20px;
  text-align: center;
  font-weight: 200;
  clear: both;
};
// END LAYOUT FORMATTING
// =====================


#home-card {
  width: 240px;
  float: left;
  border-radius: 5px;
  margin: 0 15px 15px 0;
  cursor: pointer;
  text-align: center;
  &:nth-child(3n+1) {
    margin-right: 0;
  }
  .title{
    font-weight: 300;
  }
  .card-content{
    height: 76px;
    max-height: 76px;
  }
  // img{
  //   position: absolute;
  //       z-index: 1;
  //     REMEMBER TO ADD BLACK BG DIV THE SAME SIZE AS IMAGE SET TO OPACITY 0
  // }
}
.card:hover{
}


#detail-card{
    padding-left: 125px;
}
#single{
  width: 500px;
  border-radius: 5px;
  margin: 0 15px 15px 0;
  text-align: center;
}

  img{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 0px;
  }


textarea{
  height: 120px;
}
