// START Redefining Bulma Color Variables

// $grey-light: black;
// // $grey-dark: black;



// $black
// $grey-darker
// $grey-dark
// $grey
// $grey-light
// $grey-lighter
// $white
// $blue
// $green
// $orange
// $purple
// $red
// $turquoise
// $yellow



// END Redefining Bulma Color Variables

@import "bulma";

$Background: #bcd2d0;
$FootHead:   #f96161;
$NavEl:   	 #6fcb9f;

.container {
  width: 750px;
  margin: 25px auto;
};

html{
  background-color: $Background;
}

// =======================
// BEGIN LAYOUT FORMATTING
.nav-left{
  background-color: $FootHead;
}
.nav-right{
  background-color: $FootHead;
}

#black{
  font-weight: 500;
  color: black;
}

#black:hover{
  color: $turquoise;
}

.wrapper {
  margin: 50px 0;
};
nav a{
  margin: 5px;
};

.pad-left{
  padding-left: 14px;
}
footer{
  margin-top: 20px;
  text-align: center;
  font-weight: 200;
  clear: both;
};

hr {
  color: black;
}
// END LAYOUT FORMATTING
// =====================


#home-card {
  width: 240px;
  float: left;
  border-radius: 5px;
  margin: 0 15px 15px 0;
  cursor: pointer;
  text-align: center;
  &:nth-child(3n+1) {
    margin-right: 0;
  }
  .title{
    font-weight: 300;
  }
  .card-content{
    height: 50px;
    max-height: 50px;
  }
  // img{
  //   position: absolute;
  //       z-index: 1;
  //     REMEMBER TO ADD BLACK BG DIV THE SAME SIZE AS IMAGE SET TO OPACITY 0
  // }
}
.card:hover{
}


#detail-card{
    padding-left: 125px;
}
#single{
  width: 500px;
  border-radius: 5px;
  margin: 0 15px 15px 0;
  text-align: center;
}

  img{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 0px;
  }


// UPLOAD FORM

input.ng-invalid.ng-touched {
  border-color: #FA787E;
}
input.ng-valid.ng-touched {
  border-color: #78FA89;
}
.alert {
  display: inline;
  color: red;
  font-size: 16px;
  font-weight: 200;
  text-shadow: 0px 0px 5px #ff4d4d;
}

textarea{
  height: 120px;
}
// UPLOAD FORM
