<h1 class="title"></h1>
<!--
START REMINDER
<br>
<pre><p>
  Remember to add Like button (or double click) to photos, as well as overlay div with opacity.
  <br>
  Also, add in author field [media-content possibly, check <a href="http://bulma.io/documentation/components/card/">Bulma Docs</a>].
  <br>
   Possibly randomize author field.
   <br>
</p></pre>
<br> -->



<div class="card" id="home-card" ng-repeat="photo in photos">
  <a href="/#/pic/{{ photo._id }}">
    <div class="card-image">
      <figure class="image is-4by3">
        <img ng-src="{{ photo.url }}" alt="{{ photo.name }}" class="image-dark">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <p class="title is-5">{{ photo.name }}</p>
      </div>
    </div>
  </a>
  <footer class="card-footer">
  <a class="card-footer-item"><i class="fa fa-heart fa-lg" aria-hidden="true"></i></a>
  <span class="card-footer-item" href="/#/pic/{{ photo._id }}">Likes</span>
</footer>
</div>
