<!-- <nav>
  <a href="/#/">Home</a> |
  <a href="/#/detail">Detail</a> |
  <a href="/#/upload">Upload</a>
</nav> -->


<nav class="nav has-shadow">
  <div class="nav-left">
    <a class="nav-item" href="/#/">
      <h1 class="title pad-left is-tab">InstaSlam!</h1>
    </a>
  </div>
  <div class="nav-center">
    <span class="nav-item title">
    <i class="fa fa-camera-retro fa-2x"></i>
  </span>
  </div>
  <div class="nav-right">
    <a class="nav-item is-tab" id="navbutton" href="/#/">Home</a>
    <a class="nav-item is-tab" id="navbutton" href="/#/upload">Upload</i></a>
  </div>
  </nav>

<div class="wrapper" ui-view></div>

<footer>
  <hr id="lightgrey">
  &copy 2016 | Instaslam! | A product of <b>Herrington, Inc.</b>
</footer>
