<!-- <nav>
  <a href="/#/">Home</a> |
  <a href="/#/detail">Detail</a> |
  <a href="/#/upload">Upload</a>
</nav> -->


<nav class="nav has-shadow">
  <div class="nav-left">
    <a class="nav-item" href="/#/">
      <h1 class="title pad-left is-tab">InstaSlam<sup>&copy</sup></h1>
    </a>
  </div>
  <div class="nav-right">
    <a class="nav-item is-tab" href="/#/">Home</a>
    <a class="nav-item is-tab" href="/#/upload">Upload</a>
  </div>
  </nav>

<div class="wrapper" ui-view></div>

<footer>
  <hr>
  &copy 2016 | Instaslam! | A product of <b>Herrington, Inc.</b>
</footer>
